* {
  padding: 0;
  margin: 0;
  font: "Comic Sans MS";
  font-family: "Comic Sans MS";
  font-weight: 600;
}
ul {
  list-style-type: none;
}
a {
  list-style: none;
  text-decoration: none;
  color: rgb(235, 211, 241);
  text-shadow: -3px 0 rgb(113, 48, 119);
}
h1 {
  position: relative;
  color: rgb(235, 211, 241);
  padding-bottom: 48px;
  text-shadow: -3px 0 rgb(100, 39, 105);
}
.background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: auto;
}
.container {
  text-align: center;
  padding-top: 10%;
}
.menu {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}
li {
  gap: 12px;
  margin-bottom: 18px;
  padding: 12px 24px;
  border: rgb(226, 151, 245) solid 2px;
  border-radius: 24px;
  background-color: #ffffff50;
}
.icon {
  vertical-align: middle;
  margin-right: auto;
  height: 36px;
  color: rgb(226, 151, 245);
  background-color: rgb(226, 151, 245);
  border: 0;
  border-radius: 150%;
}
.link-container {
  display: flex;
  align-items: center;
  align-content: center;
}

@media (max-width: 700px) {
  .background-image {
    object-fit: cover;
  }
}
li:hover {
  background-color: #ffffff70;
}
